/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
app/SymfonyRequirements.php
/vendor/
/web/bundles/
app/cache/*
app/logs/*
.idea
app/check.php
app/bootstrap.php.cache
